body {
	margin: 0;
	padding: 0;
	font-family: helvetica, Arial, Times New Roman;
	background-color: #333333;
	font-size: 30px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
input{
	padding: 20px 40px;
	margin: 10px;
	border-radius: 10px;
}
input:focus {
	outline: white;
	background-color: lightgrey;
}
form {
	display: flex;
	flex-wrap: wrap;
	margin-right: 300px;
	margin-left: 300px;
}
button {
	transition-duration: 0.4;
}
button:hover {
  background-color: white;
	color: black;
}
.big-clock {
	font-size: 60px;
}
.justify-middle {
	text-align: center;
	align-items: center;
}
.adjust-to-screen {
	width: 100%;
}
@media only screen and (max-width: 330px) {
	.medium-screen {
		margin-left: 200px;
	}
}
@media only screen and (max-width: 180px) {
	.tiny-screen {
		margin-left: 200px;
		margin-right: 200px
	}
}
.start-button {
	background-color: #333333;
	color: white;
	border: 3px solid white;
	font-size: 30px;
	padding: 14px 40px;
	border-radius: 12px;
	cursor: pointer;
}
.box-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.timer-box{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.timer-buttons {
	background-color: #333333;
	color: white;
	border: 3px solid white;
	font-size: 32px;
	padding: 10px 20px;
	border-radius: 12px;
	cursor: pointer;
	margin: 5px;
}
.time-timer-buttons {
	background-color: #333333;
	border: 3px solid white;
	color: white;
	font-size: 32px;
	border-radius: 12px;
	margin: 5px;
	cursor: pointer;
}
.exercise-list {
	line-height: 140%;
	list-style-position: inside;
	border: 2px solid white;
	border-radius: 10px;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 10px;
	padding: 10px;
}
.input-button {
	background-color: #333333;
	color: white;
	border: 3px solid white;
	font-size: 32px;
	padding: 10px 20px;
	border-radius: 12px;
	cursor: pointer;
}
.input-button:hover {
	background-color: white;
	color: black;
}
.highlight {
	color: black;
	background-color: white;
	border: 1px solid white;
	border-radius: 10px;
	margin: 5px;
}
